html{
  width: 100%;
  height: 100%;
  margin: 0;
}
body{
  width: 100%;
  height: 100%;
  display: flex;
}
*{
  box-sizing: border-box;
}
#root{
  height: 100%;
  width: 100%;
  display: flex;
  background: url(./assets/images/bg-top.svg)  top  right no-repeat, url(./assets/images/bg-bottom.svg)  bottom  left no-repeat;
  padding: 15px;
  background-size: auto, auto;
}


